header {
	height: 100px;
	width: 100%;
	position: relative;  	
	background-color: black;
	display: block;	
	top: 0;
	left: 0;
	
}

body {
	background-color:antiquewhite;
	/* font-family:' UniversRoman','Trebuchet MS', Arial, sans-serif;
	background: #adb9c7 url('images/body_bg.jpg') repeat-y scroll center top;
 */
}

.corps {
	background-color:antiquewhite;
    padding:15px;
    width: 900px;
    margin: auto;
	box-shadow:#464040 0px 0px 8px;
}

.headerDiv {
	display: block;
}

#conteneur {
	display: flex;
	justify-content: center;
	align-items: center;
}
.elementMenu
{
    margin: auto;
}
/* 
.element:nth-child(2) {
	flex: 1;
	justify-content: space-around;
} */

header p
{
    font-size: 25px; /* Paragraphes de 14 pixels */
	color: white;
}

.fLeft {
    float: left;
}

#search {	
	padding-top: 50px;
}

.search {	
	padding-left: 100px;
}

.connecteMsg {
	color : white;
}

.erreur {
    color: #900;
}

.img{
	padding-right: 100px;
	/* border: 1px solid #000; */
}

li:nth-child(n+2) {
 border-top: 1px solid #DDD;
}

li {
	
	backround-color: blue;
}

ul {
list-style:none;
background-color: antiquewhite;
/* display: flex; */


}

.container {
	padding: 7px;
	display: flex;
	justify-content: space-around; 
}

/* .ajouterADroite:nth-child(3) {
	align-self: flex-end;
} */

.elementLi1:nth-child(1){
	display : flex;
	justify-content: space-around;
	
}
.elementLi2:nth-child(1){
	display : flex;
	justify-content: space-between;
	
}
.elementLi1 {
	max-width:50%;
}

.imgLi {
	padding-right: 100px;
}

.nomLi {
	font-size: 24px;
}
.recherche {
	display: flex;
	justify-content: space-around;
}

.infoListe {
	display : flex;
	flex-direction : column;
	justify-content : space-around;
	width: 500px;
}

.panierStyle {
	color : white;
	text-decoration: none;
}
