header {
	height: 100px;
	width: 100%;
	position: relative;
	top: 0px;
	left: 0px;  
	background-color: black;
	/* display: inline-block;
	overflow:auto; */
    /*margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px; */
}

#conteneur {
	display: flex;
	justify-content: center;
	align-items: center;
}
.element
{
    margin: auto;
}
/* 
.element:nth-child(2) {
	flex: 1;
	justify-content: space-around;
} */

header p
{
    font-size: 25px; /* Paragraphes de 14 pixels */
	color: white;
}

.fLeft {
    float: left;
}

#search {	
	padding-top: 50px;
}

.search {	
	padding-left: 100px;
}

